{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .image-container {
      position: relative;
    }
    .image {
      position: absolute;
    }
    .image:first-child {
      top: 10px;
      left: 10px;
    }
    .image:last-child {
      top: 220px;
      left: 100px;
    }

    .container {
      position: absolute;
      height: 70vh;
      width: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    #my-table {
      position: absolute;
      top: 223px;
      right: -1000px;
      
    }
  </style>
  


  <div style="position: absolute" >
    <img src="{% static 'img\세부지역1.png'%}">
  </div> 
  
 
    <div class="container">
      <table  width ="1000" height="350"  id= "my-table">
        <tr align="center">
        <td style= "padding : 10px">
          <a href="{% url 'green:farm_nm1'  %}?q=경기도">
            <img src="{% static 'img\전국\경기도.png'%}"></a>
        </td>
        <td style= "padding : 10px">
          <a href="{% url 'green:farm_nm1'%}?q=강원도">
            <img src="{% static 'img\전국\강원도.png'%}"></a>
        </td>
     
          <td style= "padding : 10px" >
            <a href="{% url 'green:farm_nm1'%}?q=경상북도">
            <img src="{% static 'img\전국\경상북도.png'%}"></a>
          </td>
        </tr>
        <tr align ="center"><!-- 첫번째 줄 시작 -->
          <td style= "padding : 10px">
            <a href="{% url 'green:farm_nm1'%}?q=인천광역시">
            <img src="{% static 'img\전국\인천광역시.png'%}"></a>
          </td>
          <td style= "padding : 10px">
            <a href="{% url 'green:farm_nm1'%}?q=전라남도">
            <img src="{% static 'img\전국\전라남도.png'%}"></a>
          </td>    
          <td style= "padding : 10px">
            <a href="{% url 'green:farm_nm1'%}?q=대전광역시">
            <img src="{% static 'img\전국\대전광역시.png'%}"></a>
          </td>         
        </tr>
        <tr align = "center">
          <td style= "padding : 10px">
            <a href="{% url 'green:farm_nm1'%}?q=광주광역시">
              <img src="{% static 'img\전국\광주광역시.png'%}"></a>
            </td>
            <td style= "padding : 10px">
              <a href="{% url 'green:farm_nm1'%}?q=세종특별자치시">
              <img src="{% static 'img\전국\세종특별시.png'%}"></a>
          </td>
          <td style= "padding : 10px">
            <a href="{% url 'green:farm_nm1'%}?q=울산광역시">
            <img src="{% static 'img\전국\울산광역시.png'%}"></a>
          </td>
        </tr>
        <tr align = "center">
          <td style= "padding : 10px">
            <a href="{% url 'green:farm_nm1'%}?q=제주특별자치도">
            <img src="{% static 'img\전국\제주특별자치도.png'%}"></a>
          </td>
        <td style= "padding : 10px">
          <a href="{% url 'green:farm_nm1'%}?q=부산광역시">
          <img src="{% static 'img\전국\부산광역시.png'%}"></a>
        </td>   
        <td style= "padding : 10px">
          <a href="{% url 'green:farm_nm1'%}?q=충청북도">
          <img src="{% static 'img\전국\충청북도.png'%}"></a>
        </tr>
        <tr align = "center">
        
        <td style= "padding : 10px">
          <a href="{% url 'green:farm_nm1'%}?q=충청남도">
          <img src="{% static 'img\전국\충청남도.png'%}"></a>
        </td>
        <td style= "padding : 10px">
          <a href="{% url 'green:farm_nm1'%}?q=전라북도">
          <img src="{% static 'img\전국\전라북도.png'%}"></a>
      </td>  
        <td style= "padding : 10px">
          <a href="{% url 'green:farm_nm1'%}?q=경상남도">
            <img src="{% static 'img\전국\경상남도.png'%}"></a>
        </td>
      </tr>
        </table>
      </div>
      
{% endblock%}
    
    <!--img src="{% static 'img\main.png'%}">
    
    <div>
      <style="image-container">
        <img src="{% static 'img\경기도.png'%}"class="image">
          <a href="{% url 'img\경기도.png'%}"><area shape='rect' coords="265,98,390,228"></a>
      </style>  
    </div>