{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .image-container {
      position: relative;
    }
    .image {
      position: absolute;
    }
    .image:first-child {
      top: 10px;
      left: 10px;
    }
    .image:last-child {
      top: 220px;
      left: 100px;
    }

    .container {
      position: absolute;
      height: 70vh;
      width: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    #my-table {
      position: absolute;
      top: 223px;
      right: -980px;
    }
  </style>
  


  <div style="position: absolute" >
    <img src="{% static 'img\세부지역1.png'%}">
  </div> 


  <div class="container2">
    <a href="{% url 'green:back'%}">
      <img src="{% static 'img\back.png'%}">
    </a>
  </div>

  <div class="container">
    <table  width ="1000" height="350"  id= "my-table">
        <tr align="center">
          <td style= "padding : 10px">
            <a href="{% url 'green:farm_nm2'%}?w=경산시">
              <img src="{% static 'img\경상북도\경산시.png'%}"></a>
          </td>
          <td style= "padding : 10px">
            <a href="{% url 'green:farm_nm2'%}?w=경주시">
              <img src="{% static 'img\경상북도\경주시.png'%}"></a>
          </td>
          <td style= "padding : 10px" ><a href="{% url 'green:farm_nm2'%}?w=고령군">
            <img src="{% static 'img\경상북도\고령군.png'%}"></a>
          </td>
        </tr>

      <tr align="center">
        <td style= "padding : 10px">
          <a href="{% url 'green:farm_nm2'%}?w=구미시">
            <img src="{% static 'img\경상북도\구미시.png'%}"></a>
        </td>
        <td style= "padding : 10px">
          <a href="{% url 'green:farm_nm2'%}?w=군위군">
            <img src="{% static 'img\경상북도\군위군.png'%}"></a>
        </td>
     
          <td style= "padding : 10px" ><a href="{% url 'green:farm_nm2'%}?w=김천시">
            <img src="{% static 'img\경상북도\김천시.png'%}"></a>
          </td>
        </tr>  

      <tr align="center">
            <td style= "padding : 10px">
              <a href="{% url 'green:farm_nm2'%}?w=문경시">
                <img src="{% static 'img\경상북도\문경시.png'%}"></a>
            </td>
            <td style= "padding : 10px">
              <a href="{% url 'green:farm_nm2'%}?w=봉화군">
                <img src="{% static 'img\경상북도\봉화군.png'%}"></a>
            </td>
         
            <td style= "padding : 10px" ><a href="{% url 'green:farm_nm2'%}?w=상주시">
                <img src="{% static 'img\경상북도\상주시.png'%}"></a>
              </td>
            </tr>

        <tr align="center">
            <td style= "padding : 10px">
                <a href="{% url 'green:farm_nm2'%}?w=성주군">
                 <img src="{% static 'img\경상북도\성주군.png'%}"></a>
            </td>
            <td style= "padding : 10px">
                <a href="{% url 'green:farm_nm2'%}?w=안동시">
                 <img src="{% static 'img\경상북도\안동시.png'%}"></a>
            </td> 
            <td style= "padding : 10px">
                <a href="{% url 'green:farm_nm2'%}?w=영덕군">
                 <img src="{% static 'img\경상북도\영덕군.png'%}"></a>
            </td> 
        </tr>

        <tr align="center">
            <td style= "padding : 10px">
                <a href="{% url 'green:farm_nm2'%}?w=영양군">
                 <img src="{% static 'img\경상북도\영양군.png'%}"></a>
            </td>
            <td style= "padding : 10px">
                <a href="{% url 'green:farm_nm2'%}?w=영주시">
                 <img src="{% static 'img\경상북도\영주시.png'%}"></a>
            </td> 
            <td style= "padding : 10px">
                <a href="{% url 'green:farm_nm2'%}?w=영천시">
                 <img src="{% static 'img\경상북도\영천시.png'%}"></a>
            </td> 
        </tr>

        <tr align="center">
            <td style= "padding : 10px">
                <a href="{% url 'green:farm_nm2'%}?w=예천군">
                 <img src="{% static 'img\경상북도\예천군.png'%}"></a>
            </td>
            <td style= "padding : 10px">
                <a href="{% url 'green:farm_nm2'%}?w=울진군">
                 <img src="{% static 'img\경상북도\울진군.png'%}"></a>
            </td> 
            <td style= "padding : 10px">
                <a href="{% url 'green:farm_nm2'%}?w=의성군">
                 <img src="{% static 'img\경상북도\의성군.png'%}"></a>
            </td> 
        </tr>

        <tr align="center">
            <td style= "padding : 10px">
                <a href="{% url 'green:farm_nm2'%}?w=청도군">
                 <img src="{% static 'img\경상북도\청도군.png'%}"></a>
            </td>
            <td style= "padding : 10px">
                <a href="{% url 'green:farm_nm2'%}?w=청송군">
                 <img src="{% static 'img\경상북도\청송군.png'%}"></a>
            </td> 
            <td style= "padding : 10px">
                <a href="{% url 'green:farm_nm2'%}?w=칠곡군">
                 <img src="{% static 'img\경상북도\칠곡군.png'%}"></a>
            </td> 
        </tr>

        <tr align="center">
            <td style= "padding : 10px">
               <a href="{% url 'green:farm_nm2'%}?w=포항시">
                 <img src="{% static 'img\경상북도\포항시.png'%}"></a>
            </td>
        </tr>
      <div class="container1">
        <a href="{% url 'green:start'%}">
          <img src="{% static 'img\home1.png'%}">
        </a>
      </div>
{% endblock%}